#random-num-goal{
    height: 100px;
}

img{
    height: 100px;
    width: 100px;
}

#total-score-div{
    background-color: green;
    height: 100px;
    padding: 15px;
}

#total-score{
    font-size: 90px;
}